.callbacks_here a:after{
  background:#ff304d;
}
/*----*/
.header {
    padding: 0 3em;
}
.w3l_banner_info {
    text-align: left;
    margin: 0 auto;
    width: 85%;
}
.slider_banner_info h4 {
    font-size: 76px;
    margin-bottom: .4em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}
.slider_banner_info p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    line-height: 26px;
}
.slider_banner_info {
    margin-top: 9em;
}
/*-- banner-form --*/
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.banner-form-agileinfo {
   padding: 0 5em;
    margin-top: 9em;
}
.banner-form-agileinfo input[type="text"], .banner-form-agileinfo input[type="email"], .banner-form-agileinfo textarea, .form-control {
    border: none;
    width: 100%;
    background: rgba(167, 230, 252, 0.18);
    padding: 10px 15px;
    margin-bottom: 8px;
    outline: none;
    font-size: 14px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.form-control {
    border-radius: 0!important;
    height: 38px;
  padding-left:11px!important;
}
.form-control:focus{
      border: none;
    box-shadow: none;
}
option {
    background: #221e1e;
}
.banner-form-agileinfo textarea{
  height:60px;
  border:none;
  resize:none;
}
.banner-form-agileinfo input[type="submit"] {
    width: 100%;
    margin-top: 0px;
    padding: 12px 0px;
    font-size: 12.5px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    background: #ff304d;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.banner-form-agileinfo input[type="submit"]:hover {
    background: #01bcfa;
  -webkit-transition:0.5s all;
  -o-transition:0.5s all;
  -moz-transition:0.5s all;
  -ms-transition:0.5s all;
  transition:0.5s all;
}
.banner-form-agileinfo input[type="submit"]:focus {
    outline: none;
}